body.body-mobile {
    .container {
        max-width: unset!important;
        #primary {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    &.post-type-archive-product {
        .container {
            max-width: unset!important;
            #primary {
                flex: 0 0 100%;
                max-width: 100%;
                @media screen and (min-width: 1300px) {
                    flex: 0 0 75%;
                    max-width: 75%;
                }
            }
        }
    }
    .wpb_content_element {
        margin-bottom: 0;
    }
    #widget_hangcu_brands {
        .brands {
            border-radius: 0;
            height: 150px;
            .brand-header {
                height: 35px;
                background-color: $white;
                h3 {
                    font-size: 16px;
                }
            }
            .brand-body {
                .brand-items {
                    overflow-y: hidden;
                    .brch-row {
                        .brand-item {
                            height: 45px;
                        }
                    }
                }
            }
        }
    }

    #widget_hangcu_list_product {
        .list_product {
            .lst-product-header {
                height: 45px;
                background-color: $white;
                h3 {
                    font-size: 16px;
                    line-height: 16px;
                }
            }
            .lst-product-body {
                &.vertical-scroll {
                    display: flex;
                    overflow: auto;
                    .single-list {
                        &:last-child {
                            padding-right: 10px;
                        }
                    }
                }
                &.no-carousel {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 7px;
                    margin-left: -3px;
                    .single-list {
                        ul.products {
                            width: 100%;
                        }
                    }
                    .acme-col-1, .acme-col-2, .acme-col-3, .acme-col-4, .acme-col-5 {
                        width: 50%;
                        @media screen and (min-width: 768px) {
                            width: 33.33%;
                        }
                        @media screen and (min-width: 1024px) {
                            width: 25%;
                        }
                        @media screen and (min-width: 1200px) {
                            width: 20%;
                        }
                    }
                }
                .single-list {
                    padding-left: 0;
                    border: none;
                    padding: 0 0 10px 10px;

                    ul.products {
                        width: 170px;
                        padding: 10px;
                        background: $white;
                        border-radius: 4px;
                        @media screen and (min-width: 768px) {
                            width: 200px;
                        }
                        @media screen and (min-width: 1200px) {
                            width: 250px;
                        }
                        li.product {
                            max-width: 100%;
                            height: 300px;
                            @media screen and (min-width: 768px) {
                                height: 335px;
                            }
                            @media screen and (min-width: 1200px) {
                                height: 370px;
                            }
                            &::after {
                                display: none;
                            }
                            .product-outer {
                                &::after {
                                    display: none;
                                }
                                .product-inner {
                                    padding: 0!important;

                                    .product-thumbnail {
                                        img {
                                            max-width: 150px;
                                            height: auto;
                                            max-height: 150px;
                                            @media screen and (min-width: 768px) {
                                                max-width: 170px;
                                                max-height: 170px;
                                            }
                                            @media screen and (min-width: 1200px) {
                                                max-width: 210px;
                                                max-height: 210px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }


                    &.special-product {
                        width: 100%!important;
                        padding: 0;
                        ul.products {
                            width: 100%!important;
                            padding: 0;
                        }
                        li.product {
                            max-width: 100%;
                            .product-outer {
                                .product-inner {
                                    padding: 0!important;
                                    .sale-percent {
                                        top: 0;
                                    }
                                    h2 {
                                        padding: 7px 7px 0 7px;
                                    }
                                    .product-loop-footer {
                                        padding: 7px;
                                    }
                                }
                            }
                        }
                    }
                }
            }


            .lst-product-body.owl-carousel {
                .owl-nav {
                    display: block;
                    &.disabled {
                        opacity: 0;
                    }
                    >div {
                        width: 40px;
                        height: 40px;
                        border-radius: 20px;
                        background-color: $arrow-gb-color;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        left: 14px;
                        .hc-left, .hc-right {
                            width: 15px;
                            height: 15px;
                            border-top: 2px solid $arrow-border-color;
                            border-left: 2px solid $arrow-border-color;
                            transform: rotate( -45deg );
                            margin-left: 7.5px;

                        }
                        .hc-right {
                            margin-right: 7.5px;
                            margin-left: initial;
                            transform: rotate( 135deg );
                        }
                        &:nth-child(2) {
                            right: 14px;
                            left: initial;
                        }
                    }
                }
            }

            .lst-product-body.has-bg {
                padding: 7px 7px 7px 0;
                &.no-carousel {
                    padding: 0;
                }
                .single-list {
                    border: none;
                    li.product {
                        .product-outer {
                            .product-inner {
                                background-color: white;
                                border-radius: 4px;
                            }
                        }
                    }
                }
            }
        }

        &.special_block {
            .list_product {
                .lst-product-body {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    &.no-carousel {
                        margin-left: 0px;
                    }
                    .single-list {
                        padding-left: 0;
                        border: none;
                        padding: 0;
                        border-left: 1px solid $border_widget_header_color;
                        border-bottom: 1px solid $border_widget_header_color;
                        border-right: 1px solid $border_widget_header_color;
                        ul.products {
                            width: 100%;
                            padding: 10px;
                            background: $white;
                            border-radius: 4px;
                            // @media screen and (min-width: 768px) {
                            //     width: 200px;
                            // }
                            // @media screen and (min-width: 1200px) {
                            //     width: 250px;
                            // }
                            li.product {
                                max-width: 100%;
                                height: 300px;
                                @media screen and (min-width: 768px) {
                                    height: 335px;
                                }
                                @media screen and (min-width: 1200px) {
                                    height: 370px;
                                }
                                &::after {
                                    display: none;
                                }
                                .product-outer {
                                    &::after {
                                        display: none;
                                    }
                                    .product-inner {
                                        padding: 0!important;

                                        .product-thumbnail {
                                            img {
                                                max-width: 150px;
                                                height: auto;
                                                max-height: 150px;
                                                @media screen and (min-width: 768px) {
                                                    max-width: 170px;
                                                    max-height: 170px;
                                                }
                                                @media screen and (min-width: 1200px) {
                                                    max-width: 210px;
                                                    max-height: 210px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }


                        &.special-product {
                            width: 100%!important;
                            padding: 0;
                            @media screen and (min-width: 768px) {
                                width: 66.66%!important;
                            }
                            @media screen and (min-width: 1024px) {
                                width: 50%!important;
                            }
                            @media screen and (min-width: 1200px) {
                                width: 40%!important;
                            }
                            ul.products {
                                width: 100%!important;
                            }
                            li.product {
                                max-width: 100%;
                                .product-outer {
                                    .product-inner {
                                        padding: 0!important;
                                        .sale-percent {
                                            top: 0;
                                        }
                                        h2 {
                                            padding: 7px 7px 0 7px;
                                        }
                                        .product-loop-footer {
                                            padding: 7px;
                                        }
                                    }
                                }
                            }
                        }
                        &.acme-col-1, &.acme-col-2, &.acme-col-3, &.acme-col-4, &.acme-col-5 {
                            width: 50%;
                            @media screen and (min-width: 768px) {
                                width: 33.33%;
                            }
                            @media screen and (min-width: 1024px) {
                                width: 25%;
                            }
                            @media screen and (min-width: 1200px) {
                                width: 20%;
                            }
                        }

                    }
                }

                .lst-product-body.has-bg {
                    padding: 7px 7px 7px 0;
                    &.no-carousel {
                        padding: 0;
                    }
                    .single-list {
                        border: none;
                        li.product {
                            .product-outer {
                                .product-inner {
                                    background-color: white;
                                    border-radius: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #mobile-home-slider {
        >div {
            border-radius: 10px;
            overflow: hidden;
        }
    }
    .footer-links {
        background-color: $white;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}