.page-template-buildpc {
    
    #content {
        width: 100%;
        >.wrapper {
            width: 100%;
            padding: 0;
        }
    }
}

#build-pc-function, .build-pc-function {
    width: 100%;
    margin: 20px auto;
    .build-pc-header {
        display: flex;
        justify-content: space-between;
        padding: 0 10px 10px;
        border-bottom: 1px solid red;
        .left-content {
            button.re-build {
                border: 0;
                padding: 8px 15px;
                border-radius: 10px;
                color: white;
                background-color: red;
                font-weight: bold;
                i {
                    margin-right: 15px;
                }
            }
        }
        .right-content {
            strong {
                color: red;
            }
        }
    }

    .build-pc-body {
        .product-type-item {
            display: flex;
            &:nth-child(2n) {
                background-color: #c0c0c024;
            }
            .left-content {
                border: 1px solid silver;
                border-top: 0;
                border-left: 0;
                width: 130px;
                padding: 5px;
                @media screen and (min-width: 1024px) {
                    width: 200px;
                }
                .require {
                    font-weight: bold;
                    color: red;
                }
            }
            .right-content {
                border-bottom: 1px solid silver;
                width: calc(100% - 130px);
                @media screen and (min-width: 1024px) {
                    width: calc(100% - 200px);
                }
                button.choose-product {
                    border: 0;
                    margin: 5px;
                    padding: 5px 10px;
                    background-color: red;
                    color: white;
                    border-radius: 4px;
                    i {
                        margin-right: 10px;
                    }
                }
                .choose-product-item-detail {
                    display: flex;
                    flex-direction: column;
                    @media screen and (min-width: 768px) {
                        flex-direction: row;
                    }
                    .image {
                        width: 130px;
                        height: 130%;
                        padding: 5px;
                        img {
                            width: 120px;
                            height: 120px;
                        }
                    }
                    .content {
                        //width: calc(100% - 130px);
                        width: 100%;
                        padding: 5px;
                        position: relative;
                        p {
                            padding: 3px 0;
                            margin: 0;
                            &.name {
                                font-weight: bold;
                                color: black;
                            }
                            &.price {
                                font-weight: bold;
                                font-size: 18px;
                                color: red;
                            }
                            &.productid {
                                font-weight: 500;
                                color: black;
                            }
                        }
                        .star-rating {
                            overflow: hidden;
                            position: relative;
                            height: 1em;
                            line-height: 1;
                            font-size: 1em;
                            width: 5.4em;
                            font-family: 'star';
                            color: red;
                        
                            &::before {
                                content: '\73\73\73\73\73';
                                float: left;
                                top: 0;
                                left: 0;
                                position: absolute;
                            }
                        
                            span {
                                overflow: hidden;
                                float: left;
                                top: 0;
                                left: 0;
                                position: absolute;
                                padding-top: 1.5em;
                            }
                        
                            span::before {
                                content: '\53\53\53\53\53';
                                top: 0;
                                position: absolute;
                                left: 0;
                            }
                        }
                        div.action {
                            p.input-group {
                                span:nth-child(1) {
                                    display: none;
                                    @media screen and (min-width: 768px) {
                                        display: inline;
                                    }
                                }
                                input {
                                    margin: 0 4px;
                                    border-radius: 5px;
                                    width: 40px;
                                    text-align: center;
                                    border: 1px solid silver;
                                    @media screen and (min-width: 768px) {
                                        width: 100px;
                                    }
                                }
                                strong.price {
                                    color: red;
                                    font-weight: bold;
                                    span {
                                        display: initial;
                                    }
                                }
                            }
                            div.buttons {
                                button {
                                    border: 0;
                                    font-size: 20px;
                                    color: red;
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                    .quantity {
                        width: 100%;
                    }
                }
            }
        }
        .total-price {
            text-align: right;
            margin-top: 10px;
            span {
                font-weight: bold;
            }
            strong {
                font-size: 20px;
                color: red;
            }
        }
    }

    .build-pc-footer {
        margin-top: 20px;
        display: flex;
        //justify-content: flex-end;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .btn-item {
            margin-left: 10px;
            .btn {
                border: 0;
                margin: 5px;
                // padding: 5px 10px;
                background-color: red;
                color: white;
                border-radius: 4px;
                i {
                    font-size: 20px;
                    margin-right: 10px;
                }
                a {
                    color: white;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}

.ReactModalPortal {
    .ReactModal__Overlay {
        z-index: 9999999!important;
    }
}
 
.page-template-templatesbuildpc-php {
    .ReactModal__Content {
        //width: 1200px;
        margin: 0 auto;
        padding: 0 !important;

        width: calc(100% - 20px);
        top: 50px!important;
        left: 10px!important;
        right: 10px!important;
        bottom: 60px!important;
        position: relative;
        @media screen and (min-width: 1366px) {
            width: 1200px;
        }
        .modal-header {
            position: relative;
            display: flex;
            flex-direction: column;
            background-color: red;
            color: white;
            padding: 0;
            height: 50px;
            //height: 50px;
            @media screen and (min-width: 1024px) {
                flex-direction: row;
                height: 50px;
            }
            .header-title {
                //width: 400px;
                color: white;
                font-size: 2rem;
                width: 100%;
                font-weight: bold;
                text-transform: uppercase;
                margin: 0;
                padding: 10px;
                display: none;
                @media screen and (min-width: 1024px) {
                    width: 400px;
                    display: block;
                }
            }
            >button {
                background-color: transparent;
                position: absolute;
                top: 7px;
                right: 40px;
                font-size: 20px;
                font-weight: bold;
                border: 1px solid white;
                padding: 5px 10px;
                border-radius: 10px;
                //animation: trans_color 2s linear infinite;

                @keyframes trans_color {
                    0% { 
                        background-color: rgba(255, 0, 0, 1);
                        color: rgba(255, 255, 255, 1); 
                    }
                    20% {
                        background-color: rgba(255, 0, 0, 0.8);
                        color: rgba(255, 255, 255, 0.8); 
                    }
                    40% {
                        background-color: rgba(255, 0, 0, 0.6);
                        color: rgba(255, 255, 255, 0.6); 
                    }
                    60% {
                        background-color: rgba(255, 0, 0, 0.4);
                        color: rgba(255, 255, 255, 0.4);  
                    }
                    80% {
                        background-color: rgba(255, 0, 0, 0.6);
                        color: rgba(255, 255, 255, 0.6);  
                    }
                    100% { 
                        background-color: rgba(255, 0, 0, 0.8);
                        color: rgba(255, 255, 255, 0.8); 
                    }
                }
                i {
                    margin-left: 5px;
                    //font-size: 50px;
                    &.fa-spinner {
                        animation: spin 2s linear infinite;
                    }
                }

                // @keyframes spin {
                //     0% { transform: rotate(0deg); }
                //     100% { transform: rotate(360deg); }
                // }
            }
            .input-group {
                //width: calc(100% - 450px);
                width: 100%;
                padding: 0 10px;
                position: relative;
                input {
                    width: calc(100% - 60px);
                    height: 70%;
                    margin: 7px 0;
                    color: black;
                    //padding: 0 5px;
                    padding: 5px;
                    border-radius: 5px;
                    border: 0;
                }
                i.fa-bars {
                    position: absolute;
                    top: 5px;
                    right: 40px;
                    font-size: 30px;
                    @media screen and (min-width: 1024px) {
                        display: none;
                    }
                }
            }
            i.fa-close {
                position: absolute;
                top: 5px;
                right: 5px;
                z-index: 100;
                font-size: 25px;
                cursor: pointer;
            }
        }

        .modal-body {
            width: 100%;
            height: calc(100% - 55px);
            display: flex;
            padding: 0px;
            position: relative;
            .filter-attri {
                width: 100%;
                position: absolute;
                //margin-right: 5px;
                //
                overflow-x: hidden;
                overflow-y: auto;
                height: 100%;
                z-index: 100;
                visibility: hidden;
                @media screen and (min-width: 1024px) { 
                    width: 390px;
                    visibility: visible;
                    position: unset;
                    margin-right: 5px;
                }
                &.active {
                    visibility: visible;
                }
                .filter-attr-items-rect {
                    width: 100%;
                    height: 100%;
                    background-color: #00000082;
                }
                .list-attributes {
                    position: absolute;
                    z-index: 102;
                    top: 0;
                    left: 0;
                    background-color: white;
                    height: 100%;
                    width: 390px;
                    max-width: 100%;
                    border-right: 1px solid silver;
                }
                .attribute-item {
                    border-bottom: 1px solid #c0c0c047;
                    height: 30px;
                    overflow: hidden;
                    margin-bottom: 5px;
                    padding-bottom: 5px;
                    &.show {
                        height: auto;
                    }
                    .header-attr-name {
                        display: flex;
                        justify-content: space-between;
                        padding-right: 15px;
                        height: 30px;
                        cursor: pointer;
                        &:hover {
                            color: red;
                        }
                        h4 {
                            padding: 0;
                            margin: 0;
                            height: 100%;
                            line-height: 30px;
                            padding-left: 5px;
                        }
                        i {
                            line-height: 30px;
                        }
                    }
                    .body-attr-value {
                        display: flex;
                        flex-wrap: wrap;
                        .input-group {
                            width: 50%;
                            padding-left: 5px;
                            text-align: left;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            label {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
            .list-product-modal {
                width: 100%;
                display: flex;
                flex-direction: column;
                height: 100%;
                @media screen and (min-width: 1024px) {
                    width: calc(100% - 400px);
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                .list-product-header {
                    height: 33px;
                    width: 100%;
                    text-align: right;
                    margin-bottom: 2px;
                    padding-bottom: 3px;
                    border-bottom: 2px solid red;
                    .btn-page {
                        margin: 0 5px;
                        background-color: white;
                        border: 1px solid red;
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        font-size: 10px;
                        &.active {
                            background-color: red;
                            color: white;
                            font-weight: bold;
                        }
                    }

                    .btn-prev, .btn-next {
                        margin: 0 5px;
                        border: none;
                        background: red;
                        color: white;
                        border-radius: 50%;
                        padding-left: 4.5px;
                        width: 25px;
                        height: 25px;
                        line-height: 10px;
                    }
                    .btn-next {
                        padding-left: 8px;
                        margin-right: 20px;
                    }
                    .input-paging {
                        width: 50px;
                        margin: 0 10px;
                        padding: 5px;
                        border-radius: 10px;
                        border: 1px solid silver;
                    }
                }
                .list-product-data {
                    overflow: hidden;
                    overflow-y: auto;
                    height: 100%;
                    .modal-product-detail {
                        min-height: 130px;
                        height: auto;
                        width: 100%;
                        border-bottom: 1px solid silver;
                        display: flex;
                        
                        .image {
                            width: 130px;
                            height: 130%;
                            padding: 5px;
                            img {
                                width: 120px;
                                height: 120px;
                            }
                        }
                        .content {
                            width: calc(100% - 130px);
                            padding: 5px;
                            position: relative;
                            p {
                                padding: 3px 0;
                                margin: 0;
                                &.name {
                                    font-weight: bold;
                                    color: black;
                                }
                                &.price {
                                    font-weight: bold;
                                    font-size: 18px;
                                    color: red;
                                }
                                &.productid {
                                    font-weight: 500;
                                    color: black;
                                }
                            }
                            .star-rating {
                                overflow: hidden;
                                position: relative;
                                height: 1em;
                                line-height: 1;
                                font-size: 1em;
                                width: 5.4em;
                                font-family: 'star';
                                color: red;
                            
                                &::before {
                                    content: '\73\73\73\73\73';
                                    float: left;
                                    top: 0;
                                    left: 0;
                                    position: absolute;
                                }
                            
                                span {
                                    overflow: hidden;
                                    float: left;
                                    top: 0;
                                    left: 0;
                                    position: absolute;
                                    padding-top: 1.5em;
                                }
                            
                                span::before {
                                    content: '\53\53\53\53\53';
                                    top: 0;
                                    position: absolute;
                                    left: 0;
                                }
                            }
    
                            .add-to-build {
                                border: 0;
                                margin: 5px;
                                padding: 5px 10px;
                                background-color: red;
                                color: white;
                                border-radius: 4px;
                                position: absolute;
                                right: 0;
                                bottom: 5px;
                            }

                            .variation-option {
                                border-radius: 4px;
                                padding: 3px;
                                margin-top: 3px;
                            }
                        }
                    }
                }
            }
            .loading {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    font-size: 50px;
                    color: red;
                    animation: spin 2s linear infinite;
                }

                @keyframes spin {
                    0% { transform: rotate(0deg); }
                    100% { transform: rotate(360deg); }
                }
            }
        }
    }
}

.ReactModalPortal {
    .ReactModal__Overlay {
        &.ReactModal__Overlay--after-open {
            z-index: 101;
        }
    }
}

.content-image {
    height: calc(100% - 50px);
    overflow: auto;
    
    #custom-save-image-buildpc {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
        height: auto;
        margin-top: 50px;
        padding-bottom: 50px;
        overflow: auto;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        .image-header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 1024px;
            img {
                width: 60%;
            }
            h1 {
                font-weight: 300;
                text-align: center;
                width: 100%;
            }
        }
        .image-body {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            max-width: 1024px;
            h3 {
                font-size: 1.5em;
                width: 100%;
            }
            .row-item {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                border-bottom: 1px solid silver;
                min-height: 160px;
                width: 100%;
                padding: 5px;
                img {
                    width: 150px;
                    height: 150px;
                }
                .row-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding-left: 15px;
                    width: calc(100% - 170px);
                    .pd-id, .pd-price {
                        strong {
                            color: red;
                        }
                    }
                }
            }
        }
    
        .image-footer {
            width: 100%;
            max-width: 1024px;
            margin: 0 auto;
            padding: 20px 2.5px;
            h1 {
                font-size: 2em;
                width: 100%;
            }
            h3 {
                font-size: 1.5em;
                width: 100%;
            }
            .bill {
                text-align: center;
                h1 {
                    strong {
                        color: red;
                    }
                }
            }
            .info {
                >div {
                    display: flex;
                    flex-direction: column;
                    >div {
                        display: flex;
                        margin: 2.5px 0;
                        .icon {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}