.post-component {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    a {
        color: black;
    }
    .first-item {
        width: 100%;
        margin-bottom: 10px;
        border-bottom: 1px solid silver;
        padding-bottom: 20px;
        .thumb {
            img {
                width: 100%;
                border-radius: 4px;
            }
        }
        .title {
            a {
                text-transform: uppercase;
                font-size: 20px;
            }
        }
    }
    .list-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        
        .post-item {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 10px;
            border-bottom: 1px solid silver;
            &:last-child {
                border-bottom: none;
            }
            .thumb {
                width: auto;
                height: 120px;
                img {
                    width: 120px;
                    height: 100px;
                    border-radius: 4px;
                }
            }
            .title {
                width: calc(100% - 130px);
                margin-left: 10px;
                a {
                    // text-transform: uppercase;
                }
            }
        }
    }

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        .first-item {
            width: 50%;
            border: none;
        }
        .list-item {
            width: calc(50% - 20px);
            margin-left: 20px;
            .post-item {
                .thumb {
                    width: auto;
                    height: 70px;
                    img {
                        width: 90px;
                        height: 60px;
                        border-radius: 4px;
                    }
                }
                .title {
                    width: calc(100% - 90px);
                    margin-left: 10px;
                    a {
                        // text-transform: uppercase;
                    }
                }
            }
        }
    }
}

#popup-post-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000070;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    .loading {
        padding: 10px 20px;
        background: white;
        text-align: center;
    }
    .post-contents {
        width: 90%;
        margin: 0 auto;
        max-width: 1000px;
        background: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        max-height: 800px;
        flex-direction: column;
        overflow: auto;
        padding: 10px;
        .video-content {
            width: 100%;
        }
        .content-body {
            width: 100%;
            padding: 10px;
        }

        @media screen and (min-width: 768px) {
            flex-direction: row;
            max-height: 500px;
            overflow: hidden;
            .video-content {
                width: 55%;
            }
            .content-body {
                width: calc(45% - 10px);
                margin-left: 10px;
                max-height: 500px;
                padding: 10px;
                overflow: auto;
            }
        }
    }
    #remove-popup {
        width: 50px;
        height: 50px;
        border: none;
        background-color: white;
        color: black;
        top: 10px;
        right: 40px;
        position: absolute;
        font-size: 40px;
        line-height: 40px;
    }
}

.mb-danhmucnoibat {
    .elementor-container {
        .elementor-row {
            .elementor-column {
                .elementor-element {
                    .mf-elementor-image-box {
                        height: 200px;
                        overflow: hidden;
                    }
                }
                
            }
        }
    }
}


.elementor-shortcode {
    #slider-homepage {
        .vc_col-sm-2 {
            width: 0!important;
            display: none;
        }
        .vc_col-sm-10 {
            width: 100%!important;
        }
        
        @media screen and (min-width: 1200px) {
            .vc_col-sm-2 {
                width: 220px!important;
                display: initial;
                .vc_column-inner {
                    padding: 0;
                }
            }
            .vc_col-sm-10 {
                width: calc(100% - 220px)!important;
                .vc_column-inner {
                    .vc_column-inner {
                        padding-left: 5px;
                        padding-right: 5px;
                        width: 100%;
                    }
                }
                
            }
        }
    }
    
    #menu-special-menu {
        margin: 0;
        padding: 0;
        background: #f5f5f59d;
        border: 1px solid #e1e1e1;
        border-radius: 4px;
        >li {
            margin: 0;
            padding: 0;
            border-top: .5px solid #e1e1e1ad;
            >a {
                line-height: 1;
                color: #000;
                padding: 9px 0;
                position: relative;
                height: 46px;
                line-height: 46px;
                padding: 0px 15px;
                &::after {
                    content: '\e93c';
                    display: inline-block;
                    font: normal normal normal 14px/1 linearicons;
                    position: absolute;
                    top: 50%;
                    right: 5px;
                    transform: translateY(-50%);
                    color: #999;
                    font-size: 11px;
                    font-weight: 600;
                }
            }
            a {
                &:hover {
                    color: red!important;
                }
            }
            div.sub-menus {
                left: 220px;
                border-radius: 4px;
            }
        }
    }
}
