body.mobile-version {
    input[type=text] {
        font-size: 14px!important;
    }
    .guaven_woos_mobilesearch {
        z-index: 9999991;
        width: 100%;
        margin: 0;
        bottom: 65px;
        height: calc(100% - 130px);
        max-height: calc(100% - 130px);
        // display: block;
        p {
            display: none;
        }
        form {
            height: 72px;
            background-color: var(--mf-background-primary-color);
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 999;
            .gws_clearable {
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .guaven_woos_suggestion {
        z-index: 9999991;
        top: 67px!important;
        bottom: 67px!important;
        max-height: calc(100% - 65px)!important;
        width: 100%!important;
        left: 0!important;
        ul {
            li {
                min-height: 65px;    
            }
        }
    }
}

.guaven_woos_suggestion_list {
    small {
        color: red;
        display: flex!important;
        flex-direction: column;
        ins {
            text-decoration: none;
        }
    }
}

body.mobile-version {
    .site-footer {
        .footer-widgets {
            .widget-title {
                margin-bottom: 10px;
                position: relative;
                
                &::after {
                    content: "\e93a";
                    display: inline-block;
                    font: normal normal normal 14px/1 linearicons;
                    font-size: 16px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                }
            }
            .custom-html-widget {
                display: none;
            }
            .widget_custom_html {
                border-bottom: 1px solid #e1e1e1;
                &:last-child {
                    border-bottom: none;
                }
                &.active {
                    .widget-title {
                        &::after {
                            content: "\e939";
                        }
                    }
                    .custom-html-widget {
                        display: initial;
                    }
                }
            }
            
        }
    }
}