#list_sale_price {
    background: white;
    padding: 5px;
    width: 100%;
    .headers {
        .title-date {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            color: red;
            text-align: center;
        }

        .table-header {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            div {
                padding: 0 5px;
                border: .5px solid silver;
                height: 65px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
                padding-bottom: 10px;
                h3 {
                    padding: 0;
                    margin: 0 0 5px 0;
                    text-align: center;
                    font-weight: 900;
                }
                i {
                    position: absolute;
                    top: 70%;
                    right: 10px;
                    transform: translateY(-50%);
                    color: red;
                    font-size: 20px;
                    display: none;
                    @media screen and (min-width: 768px) {
                        display: block;
                    }
                }
                input {
                    width: 100%;
                    padding: 5px;
                    border-radius: 5px;
                    border-width: .5px;
                }
            }
            .tb-col-1 {
                width: 100px;
                @media screen and (min-width: 768px) {
                    width: 150px;
                }
                border-right: none;
            }
            .tb-col-2 {
                flex: 1;
                border-right: .5px solid silver;
                @media screen and (min-width: 768px) {
                    border-right: none;
                }
            }
            .tb-col-3 {
                width: 150px;
                border-right: none;
                display: none;
                @media screen and (min-width: 768px) {
                    display: block;
                }
            }
            .tb-col-4 {
                width: 130px;
                display: none;
                @media screen and (min-width: 768px) {
                    display: block;
                }
            }
            .tb-col-5 {
                width: 80px;
                display: none;
                @media screen and (min-width: 768px) {
                    display: block;
                }
            }
        }
    }
    .group-product {
        border: .5px solid white;
        border-bottom: none;
        &:last-child {
            border-bottom: .5px solid white;
        }

        .group-name {
            position: relative;
            height: 40px;
            overflow: hidden;
            
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: #CC0000;
                top: 0;
                left: 0;
                z-index: 1;
                @media screen and (min-width: 768px) {
                    width: 80%;
                }
            }
            &::after {
                content: '';
                position: absolute;
                width: 40px;
                height: 80px;
                background: white;
                top: 0;
                left: calc(100% - 30px);
                z-index: 1;
                transform: rotate(45deg);
                @media screen and (min-width: 768px) {
                    left: calc(80% - 30px);
                }
            }
            h3 {
                margin: 0;
                padding: 10px;
                text-transform: uppercase;
                color: white;
                font-weight: bold;
                position: absolute;
                z-index: 2;
                font-size: 1.7rem;
            }
        }

        .table-row {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            &:nth-child(even) {
                background: #F0F0FF;
            }
            &:nth-child(odd) {
                background: white;
            }
            div {
                padding: 0 5px;
                min-height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h4 {
                    margin: 0;
                    padding: 0;
                    font-weight: 400;
                }
            }
            .tb-col-1 {
                width: 100px;
                @media screen and (min-width: 768px) {
                    width: 150px;
                }
            }
            .tb-col-2 {
                flex: 1;
                align-items: flex-start;
                border-left: .5px solid silver;
                border-right: .5px solid silver;
                @media screen and (min-width: 768px) {
                    border-right: none;
                }
                .display-mobile {
                    width: 100%;
                    justify-content: flex-start;
                    align-items: flex-start;
                    p {
                        margin: 0;
                    }
                    @media screen and (min-width: 768px) {
                        display: none;
                    }
                }
            }
            .tb-col-3 {
                width: 150px;
                border-left: .5px solid silver;
                display: none;
                @media screen and (min-width: 768px) {
                    display: block;
                }
            }
            .tb-col-4 {
                width: 130px;
                border-left: .5px solid silver;
                display: none;
                @media screen and (min-width: 768px) {
                    display: block;
                }
            }
            .tb-col-5 {
                width: 80px;
                display: none;
                @media screen and (min-width: 768px) {
                    display: block;
                }
            }
        }
    }
    .loading {
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            margin-left: 5px;
            font-size: 50px !important;
            &.fa-spinner {
                color: red;
                font-size: 20px;
                animation: spin 2s linear infinite;
            }
        }
    }
    a {
        color: #000000;
        &:hover {
            color: red;
        }
    }
}