.page-template-checkout .checkout-payment {
    > h2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
        width: 100%;
    }
}

.checkout-header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        .header-logo-area {
            width: 250px;
            min-width: 250px;
            @media screen and (min-width: 1300px){
                width: 300px;
            }
            img {
                width: 250px;
            }
        }
        .header-support {
            width: 250px;
        }
        .checkout-step {
            width: 100%;
            max-width: calc(100% - 500px);
            // float: left;
            position: relative;
            height: 120px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            @media screen and (min-width: 1300px){
                max-width: calc(100% - 550px);
            }
            .progress-checkout {
                width: 100%;
                .bs-wizard {
                    width: 100%;
                    display: flex;
                    flex-wrap: nowrap;
                    height: 75px;
                    .bs-wizard-step {
                        flex: 1;
                        text-align: center;
                        .bs-wizard-stepnum {
                            height: 45px;
                        }
                        .progress {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            height: auto;
                            .progress-bar-right {
                                width: 50%;
                                height: 5px;
                                background-color: $main_color;
                                position: absolute;
                                left: 50%;
                                z-index: 10;
                            }
                            .progress-bar-left {
                                width: 50%;
                                height: 5px;
                                background-color: $main_color;
                                position: absolute;
                                left: 0;
                                z-index: 10;
                            }
                            .bs-wizard-dot {
                                width: 25px;
                                height: 25px;
                                background-color: $main_color;
                                border-radius: 50%;
                                color: white;
                                line-height: 25px;
                                z-index: 11;
                            }
                        }
                        &.active {
                            .progress-bar-right {
                                background-color: transparent;
                                border: 1px solid silver;
                                border-right: 0;
                            }
                        }
                        &.disabled {
                            color: #a3a3a3;
                            .progress {
                                .progress-bar-right, .progress-bar-left {
                                    background-color: transparent;
                                    border: 1px solid silver;
                                }
                                .progress-bar-left {
                                    border-left: 0;
                                }
                                .progress-bar-right {
                                    border-right: 0;
                                }
                                .bs-wizard-dot {
                                    border: 1px solid silver;
                                    background-color: white;
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}

.checkout-account,
.checkout-address {
    > h2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .description-header {
        font-weight: 600;
    }
}
.page-template-checkout {
    .order-items {
        .electro-price {
            del {
                display: none;
            }
        }
    }

    .order-address {
        .address-content {
            .info {
                p {
                    margin-bottom: 5px;
                }
            }
        }
    }

    .site-content-inner {
        margin: 10px 0!important;
        padding: 20px 10px;
        background-color: white;

        .checkout-account {
            .login-social {
                > h4 {
                    font-size: 15px;
                    text-align: center;
                    margin-bottom: 10px;
                    line-height: 20px;
                }

                .group-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin-bottom: 20px;

                    @media (min-width: 576px) {
                        flex-direction: row;
                    }

                    .nsl-container-block {
                        &:first-child {
                            @media (min-width: 576px) {
                                margin-right: 5px;
                            }
                        }

                        &:last-child {
                            @media (min-width: 576px) {
                                margin-left: 5px;
                            }
                        }
                    }

                    button {
                        border-radius: 4px;
                        padding: 0 0 0 10px;
                        display: flex;
                        align-items: center;
                        color: #ffffff;
                        position: relative;

                        &:first-child {
                            margin-right: 10px;
                        }

                        &:last-child {
                            margin-left: 10px;
                        }

                        &.facebook {
                            background-color: #3b5998;

                            &:hover {
                                background-color: #254382;
                            }
                        }

                        &.google {
                            background-color: #df4a32;

                            &:hover {
                                background-color: #9e2e1c;
                            }
                        }

                        > i {
                            font-size: 20px;
                        }

                        > span {
                            position: relative;
                            padding: 10px 15px;
                            &:before {
                                content: '';
                                display: block;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                width: 1px;
                                background: #75757599;
                                left: 7px;
                            }
                        }
                    }
                }
            }
        }

        .checkout-payment,
        .checkout-account {
            width: 100%;

            .woocommerce-error {
                margin-bottom: 10px;
            }

            .order-details,
            .account-order {
                display: block;

                @media (min-width: 992px) {
                    display: flex;
                }

                .form-account {
                    border: 1px solid #dadadabf;
                    border-radius: 3px;
                    box-shadow: 0px 1px 15px 0px #e4e4e499;
                    width: 100%;
                    margin-bottom: 20px;

                    @media (min-width: 768px) {
                        display: flex;
                    }

                    @media (min-width: 992px) {
                        width: 65%;
                        margin: 0 15px 0 0;
                    }
    
                    .tab {
                        display: flex;
                        box-shadow: 0 3px 6px -3px grey;

                        @media (min-width: 768px) {
                            background-color: #f9f9f9e0;
                            box-shadow: initial;
                        }

                        @media (min-width: 768px) {
                            min-width: 220px;
                            flex-direction: column;
                            margin-right: -1px;
                        }

                        @media (min-width: 1200px) {
                            min-width: 250px;
                        }
    
                        .tablinks {
                            background-color: transparent;
                            padding: 15px 0;
                            border-radius: 0;
                            width: 50%;
                            border-color: #dadadabf;

                            @media (min-width: 768px) {
                                padding: 10px 0;
                                width: initial;
                                border-bottom: 1px solid #dadadabf;
                            }
    
                            &:hover {
                                color: #333e48;

                                @media (min-width: 768px) {
                                    background-color: #ececec91;
                                }
                            }
    
                            &:focus,
                            &:active {
                                outline: none;
                            }
    
                            &.active {
                                background-color: #ffffff;
                                z-index: 1;
                                position: relative;

                                &:after {
                                    content: '';
                                    display: block;
                                    height: 2px;
                                    width: 100%;
                                    background-color: #ed1c24;
                                    position: absolute;
                                    bottom: 0;

                                    @media (min-width: 778px) {
                                        display: none;
                                    }
                                }

                                @media (min-width: 768px) {
                                    border: initial;
                                    margin-right: -1px;
                                    border-bottom: 1px solid #dadadabf;
                                    border-right: 1px solid #ffffff;
                                }
                            }
    
                            > span {
                                font-size: 17px;

                                @media (min-width: 1200px) {
                                    font-size: 20px;
                                }
                            }
    
                            > i {
                                display: none;
                                font-size: 12px;

                                @media (min-width: 768px) {
                                    display: block;
                                }

                                @media (min-width: 1200px) {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
    
                    .tabcontent {
                        width: 100%;
                        padding: 15px;

                        @media (min-width: 768px) {
                            border-left: 1px solid #dadadabf;
                        }
    
                        .form-row,
                        .input-form {
                            margin-bottom: 20px;
    
                            label {
                                display: block;
                                margin-bottom: 5px;
                            }
    
                            input {
                                width: 100%;
                            }
                        }
                    }
                }
    
                .order-address,
                .order-items {
                    box-shadow: 0px 1px 15px 0px #e4e4e499;
                    padding: 10px 20px;
                    border: 1px solid #ddd;
                    width: 100%;
                    border-radius: 4px;

                    @media (min-width: 992px) {
                        width: 35%;
                    }
    
                    .head {
                        padding: 7px 0;
                        display: flex;
                        justify-content: space-between;
                        border-bottom: 1px solid #ddd;
                        align-items: center;
                        margin-bottom: 7px;
    
                        .edit-order {
                            border: 1px solid #ddd;
                            display: inline-block;
                            vertical-align: middle;
                            padding: 3px 15px;
                            border-radius: 3px;
                            background: linear-gradient(#fff,#f7f7f7);
                        }
                    }
    
                    .items {
                        .product-item {
                            padding-bottom: 7px;
                            margin-bottom: 7px;
                            border-bottom: 1px solid #dadadabf;
    
                            .electro-price {
                                ins {
                                    text-decoration: none;
                                }
    
                                del {
                                    font-size: 12px;
                                    color: #6f6f6f;
                                }
                            }
                        }
                    }
    
                    .foot {
                        .order-totals {
                            .line {
                                margin-bottom: 7px;
                                display: flex;
                                justify-content: space-between;
                                padding-bottom: 7px;
                                border-bottom: 1px solid #dadadabf;
                                &:last-child {
                                    padding-bottom: 0px;
                                    border-bottom: none;
                                }
    
                                &.total {
                                    .woocommerce-Price-amount {
                                        font-size: 21px;
                                        color: #ff1f1f;
                                    }
                                }

                                &.d-none {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .checkout-payment {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 100%;

            @media (min-width: 992px) {
                flex-direction: row;
            }

            .payment-details {
                margin-right: 20px;
                display: block;
                width: 100%;

                @media (min-width: 992px) {
                    width: calc(60% - 20px);
                }

                @media (min-width: 1200px) {
                    width: calc(70% - 20px);
                }

                .woocommerce-checkout {
                    margin: 0;
                }

                #payment {
                    border-top: 0;
                    .payment_methods {
                        padding: 15px 15px 10px 15px !important;
                        border: 1px solid #ddd;
                        border-radius: 4px;
                        li {
                            border-bottom: 0;
                            padding-left: 5px !important;
                            height: 56px;
                            margin-bottom: 8px;
                            color: rgb(36,36,36);
                            
                            &.disable-method {
                                opacity: 0.3;
                                pointer-events: none;
                            }

                            label {
                                font-weight: 400;
                            }
                        }
                    }

                    .place-order {
                        padding: 20px 0 20px 0;

                        .checkbox-require-vat {
                            .validate-require {
                                margin-bottom: 0;
                            }
                            #require-vat {
                                margin-left: 0;
                            }
                        }

                        .vat-form {
                            margin-bottom: 20px;
                            clear: both;
                            overflow: hidden;
                            .group-info {
                                // max-width: 500px;
                                border: 1px solid #ddd;
                                clear: both;
                                overflow: hidden;
                                display: block;
                                padding: 20px;
                                padding-bottom: 0;
                                border-radius: 4px;
                                margin-left: 0px;
                                margin-top: 30px;
                            }
                        }

                        .woocommerce-terms-and-conditions-wrapper {
                            .woocommerce-privacy-policy-text {
                                margin-bottom: 20px;
                            }

                            > p.validate-require {
                                margin-bottom: 20px;
                            }
                        }

                        > .notes {
                            margin-bottom: 20px;

                            #order_comments {
                                padding: 10px;
                                border-radius: $border-radius;
                                height: 6em;
                                min-height: 5em;
                            }
                        }

                        #place_order {
                            max-width: 250px;
                            padding: 15px 20px;
                        }
                    }
                }
            }

            .order-details {
                display: block;
                width: 100%;

                @media (min-width: 992px) {
                    width: 40%;
                }

                @media (min-width: 1200px) {
                    width: 30%;
                }

                .order-address {
                    width: 100%;
                    margin-bottom: 20px;
                }

                .order-items {
                    width: 100%;

                    .product-item {
                        .product-name {
                            @include truncate-text(1);
                        }
                    }
                }
            }
        } 
    }
}


.custom-checkout {
    width: 100%;

    .checkout-address {
        .list-address {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;

            .address-item  {
                width: 100%;

                @media (min-width: 992px) {
                    width: calc(50% - 7px);
                }

                .address-content {
                    .info {
                        margin-bottom: 15px;
                    }
                    .group-button {
                        font-size: 13px;
                        cursor: pointer;

                        .deliver-address {
                            background: #a0a0a0;
                            padding: 4px 12px;
                            color: white;
                            border-radius: 3px;
                            margin-right: 7px;
                            border: 1px solid #a0a0a0;
                            display: inline-block;
                            vertical-align: middle;
                        }

                        .update-address {
                            margin-right: 7px;
                        }

                        .remove-address,
                        .update-address {
                            background: linear-gradient(#fff,#f7f7f7);
                            padding: 4px 12px;
                            border: 1px solid silver;
                            border-radius: 3px;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }

        #addresses {
            .group-address {
                > .form-row {
                    > label {
                        width: 100% !important;
                    }
                }
                .select2-selection {
                    border-radius: 4px;
                }
            }
        }

        

        .select2 {
            &.select2-container {
                width: 100% !important;
            }
        }
    }
}

.address-form {
    &.new-address {
        form {
            max-width: 600px;
            margin: auto;
            box-shadow: 0px 1px 15px 0px #e4e4e499;
            padding: 20px;
            > h2 {
                text-align: center;
            }
        }
    }

    .group-address {
        display: flex;
        justify-content: space-between;
        align-items: center;
        clear: both;

        > .form-row {
            width: calc(50% - 5px);

            > label {
                width: 100%;
            }
        }

        #billing_address_2_field {
            margin-top: 0;
        }
    }

    .hangcu-input-checkbox {
        margin-bottom: 1.714em;
    }

    .group-button {
        .save-new-address {
            margin-right: 10px;
        }
    }
}

body {
    #customer_login,
    .woocommerce-form-register {
        .register-benefits {
            h3 {
                line-height: 25px;
            }
        }
        .phone-wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
        
            > input {
                padding-right: 112px;
            }
        
            > button {
                position: absolute;
                right: 0;
                padding: 0 20px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                font-size: 13px;
                height: 34px;
                overflow: hidden;
        
                &.count-down {
                    // padding: 6px 15px;
                }
        
                .time-wrapper {
                    p {
                        margin-bottom: 0;
            
                        &:last-child {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
    .woocommerce-checkout {
        .select2-dropdown {
            border-color: #ddd;
        }
    }
    .select2-dropdown {
        border-color: #ddd;
        input {
            border-color: #ddd!important;
        }
    }
}