$background_color: rgb(239, 239, 239);
$background_color_header: white;
$background_product_page: white;
$main_color: #ED1C24;
$color_link: #0D5CB6;
$bg_gray_color: #EDEDED;
$bg_widget_home_color: #FFFFFF;
$account_icon_color: #7c7575;
$border-radius: 4px;
$product-title-color: #181717;
$product-title-hover-color: #0d5cb6;
$product-price-color: #D00008;
$product-sale-price-color: #181717;

// carousel
$arrow-gb-color: #ededed;
$arrow-border-color: #797777;
$border_widget_header_color: #EDEDED;

// footer
$footer_bg_color: white;

$header_bg_color: #189eff;
$color_012: #eee;
$white: #fff;

// breadcrumb
$breadcrumb_bg_color: #e8e7e7;
$breadcrumb_color: #797777;

//
$prepair-bg-color: #FBDA00;